.imageContainer::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
  transition: var(--transition-time);
}

.imageContainer:hover::before {
  content: "Learn More";
  background-color: rgba(18, 18, 18, 0.3);
  width: 100%;
  height: 100%;
}
