.breadcrumbItem {
  margin-right: 0.5rem;
  font-size: 16px;
  text-transform: capitalize;
}
.breadcrumbItem::after {
  content: "/";
  margin-left: 0.5rem;
}
.breadcrumbItem:last-child::after {
  content: "";
}