.breadcrumbItem {
  margin-right: 0.5rem;
  font-size: 16px;
  text-transform: capitalize;
}
.breadcrumbItem a {
  text-decoration: none;
  color: hsl(var(--color-muted-foreground));
  cursor: pointer;
}
.breadcrumbItem a:hover {
  text-decoration: underline;
}
.breadcrumbItem::after {
  content: "/";
  margin-left: 0.5rem;
}
.breadcrumbItem:last-child::after {
  content: "";
}
.active {
  font-weight: bold;
}
