.navMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: 100;
  display: flex;
  background-color: #fff;
}

.AboutContent {
  transform: translateX(-150px);
}

.displayAddtoCardButtons {
  display: inline-flex;
}

@media (max-width: 1024px) {
  .displayAddtoCardButtons {
    display: none;
  }
}
